* { box-sizing: border-box; } body {margin: 0;}body{background-image:url(https://avatars3.githubusercontent.com/u/1956612?s=460&v=4);background-repeat:repeat;background-position:left top;background-attachment:scroll;background-size:auto;}.c9660{padding:10px;}.c3231{color:black;}
@media print {
  @page { margin: 0; }
  body { margin: 1.6cm; }
}